<%= simple_form_for @event do |form| %>
  <h2>Event Info</h2>
  <%= form.input :title, label: 'Event Title' %>
  <%= form.input :description %>
  <%= form.input :price %>
  <%= form.input :make_date, label: 'Event date' %>
  <%= form.input :location %>
  <%= form.input :start_time, label: 'Start Time', as: :time %>
  <%= form.input :end_time, label: 'End Time', as: :time %>
  <%= form.association :category, input_html: { class: 'chosen-select' } %>
  <%= form.input :image %>
  <%#= form.association :tags, input_html: { class: 'chosen-select' } %>
  <%= form.submit class: 'btn btn-primary' %>
<% end %>
