
<div class="container">
  <div class="row p-3">
    <div class="col-md-4 events-search" id="events-search">
      <%= form_tag(events_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search events" %>
      <%= submit_tag "Search", class: 'btn btn-outline-secondary'%>
      <% end %>
    </div>
    <div class="col-md-4 events-heading" id="events-heading">
      <h1>All Events</h1>
    </div>

    <div class="col-md-4 events-button" id="events-button">
      <div class="ml-auto">
        <button type="button"
        class="btn btn-outline-secondary btn-sm"
        data-toggle="modal" data-target="#newEventModal">Add New Event</button>
      </div>
    </div>
    <%= render './modals/new_event_modal' %>

  </div>
</div>

<!-- <h3 align="center">Browse events in Vancouver</h3> -->

<div class="container-fluid">
<% if @events.present? %>
<% else %>
<p>no events currently match your search: <%= params[:search] %></p>
<% end %>
</div>
<!-- **************************************************************************** -->
<div class="container">
    <div class="row">
      <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="card card-outline-secondary">
          <img class="card-img-top" <%= image_tag(event&.image&.url(:large) || '') %>
          <div class="card-body">
            <h4 class="card-title"><%= link_to event.title, event_path(event) %></h4>
            <p class="card-text"><%= event.description %></p>
          </div>
          <div class="card-footer">
            <!-- <p>Event By: <%#= event.user&.full_name %></p> -->
            <p><%#= time_ago_in_words(event.created_at) + " ago" %></p>
<p><strong>Price:</strong> <%= number_to_currency(event.price) %></p>
          </div>
        </div>
      </div>
      <% end %>
