<h2><%= @event.title %></h2>
<p><%= @event.description %></p>
<p><%= @event.price %></p>
<p><%= @event.make_date %></p>
<p><%= @event.location %></p>
<p><%= @event.format_start %></p>
<p><%= @event.format_end %></p>
<p><%= @event.category_id %></p>
