<%= image_tag @event.image.url(:large) if @event.image.present? %>
<h2><%= @event.title %></h2>
<p><%= @event.description %></p>
<p><%= @event.price %></p>
<p><%= @event.make_date %></p>
<p><%= @event.location %></p>
<p><%= @event.format_start %></p>
<p><%= @event.format_end %></p>
<p><%= @event.category_id %></p>
<p>By <%= link_to @event.user&.full_name %></p>

<% if user_signed_in? && can?(:update, @event) %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to(
    'Delete',
    event_path(@event),
    data: {confirm: 'Are you sure?'},
    method: :delete
  ) %>
<% end %>

<div style='width: 500px;'>
  <div id="map" style='width: 500px; height: 400px;'></div>
</div>

<script>
  const handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @event.latitude %>,
      "lng": <%= @event.longitude %>,
      "infowindow": "<%= @event.title %> location"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(17);
  });
</script>




<h2>Comments</h2>

 <%= form_for [@event, @comment] do |f| %>
   <% if @event.errors.present? %>
     <p>
       <%= @comment.errors.full_messages.join(', ') %>
     </p>
   <% end %>
   <div>
     <%= f.text_area :body %>
   </div>
   <%= f.submit %>
 <% end %>

 <div class="comment-list">
   <% @comments.each do |comment| %>
     <div class="comment-list-item">
       <p><%= comment.body %></p>
       <p><strong>Created At:</strong> <%= time_ago_in_words(comment.created_at) %> ago</p>
       <% if can? :manage, comment %>
       <%= link_to(
         'Delete',
         comment_path(comment),
         data: {confirm: 'Are you sure?'},
         method: :delete
       ) %>
       <% end %>
     </div>
   <% end %>
 </div>
