<h2><%= @discount.name %></h2>
<p><%= @discount.description %></p>
<p><%= @discount.discount %></p>
<p><%= @discount.start_date %></p>
<p><%= @discount.end_date %></p>
<p><%= @discount.location %></p>
