<%= image_tag @discount.image.url(:large) if @discount.image.present? %>
<h2><%= @discount.name %></h2>
<p><%= @discount.description %></p>
<p><%= @discount.discount %></p>
<p><%= @discount.start_date %></p>
<p><%= @discount.end_date %></p>
<p><%= @discount.location %></p>

<p>By <%= link_to @discount.user&.full_name %></p>

<% if user_signed_in? && can?(:update, @discount) %>
  <%= link_to 'Edit', edit_discount_path(@discount) %>
  <%= link_to(
    'Delete',
    discount_path(@discount),
    data: {confirm: 'Are you sure?'},
    method: :delete
  ) %>
<% end %>
