<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="newUserModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New User</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

            <%= simple_form_for @user1 do |form| %>
                <%= form.input :first_name %>
                <%= form.input :last_name %>
                <%= form.input :email %>
                <%= form.input :password %>
                <%= form.input :password_confirmation %>
                <%= form.submit class: 'btn btn-primary' %>
            <% end %>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>

      </div>
    </div>
</div>
