<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="newDiscountModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">New Discount</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

          <%= simple_form_for @discount1 do |form| %>
            <%= form.input :name %>
            <%= form.input :description %>
            <%= form.input :discount %>
            <%= form.input :location %>
            <%= form.input :start_date, label: 'Start' %>
            <%= form.input :end_date, label: 'End' %>
            <%= form.input :image %>
            <%= form.submit class: 'btn btn-primary' %>
          <% end %>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>

    </div>
  </div>
</div>
